.Cards {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    height:200px;
}

.Text{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.CardDetails {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.th {
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: lavender;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-orientation: inherit;
}

.table {
    margin: 50px 20px 50px 20px;
    border-style: solid;
    
}

.td {
    border-style: ridge;
}


