.th {
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: lavender;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-orientation: inherit;
}

.table {
    margin: 50px 20px 50px 20px;
    border-style: solid;
    
}

.td {
    border-style: ridge;
}
