.loginform {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 10px auto;
    height: 100%;
}

.loginformgroup{
    margin-top: 10px;
    margin-bottom: 20px;
}

.containerL{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    border-style: double;
    border-color: blue;
    justify-content: center;
    width: 100%;
    margin: 100px auto;
    height: 360px;
    width: 300px;
    background-color: lavenderblush;
}

.textL{
    text-align: center;
}

.img {
    width: 6rem;
    clip-path: circle(60px at center);
    margin-top: 30px;
    margin-left: 67px;
  }